/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: darkgray;
}

.layout-main-image {
	-fx-background-color: lightgray ;
	-fx-alignment: center;
	-fx-background-insets: 15px; 
}

.layout-info {
	-fx-background-color: rgb(65,69,72);
}

.label-info {
	-fx-padding: 10px;
	-fx-text-fill: white;
}

.label-dialog {
	-fx-padding: 10px;
}

.container-dialog {
	-fx-background-insets: 15px; 
}

.layout-slider {
	-fx-alignment: center-right;
}

.slider { 
	-fx-max-width: 700;
	-fx-padding: 20px;
}
